@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "'Montserrat', sans-serif",
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  font-family: "'Montserrat', sans-serif";
}

* {
  box-sizing: border-box;
  font-family: "'Montserrat', sans-serif";
}

img {
  max-width: 100%;
  height: auto;
}

.personMessage {
	background-color: #F0F0F0;
	padding: 8px;
	margin: 4px;
	justify-content: right;
  }

.botMessage {
	background-color: #F0F0F0;
	padding: 8px;
	margin: 4px;
	justify-content: left;
}
  